* {
  font-family: 'Press Start 2P';
}

.background-box {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.title-position {
  display: flex;
  justify-content: center;
}

.title-position h2 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.check-buttons-group {
  display: flex;
  justify-content: center;
}

.check-buttons-group img {
  margin-left: 70px;
  margin-right: 70px;
}

.text-box-input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.text-box-input input {
  width: 170px;
  margin-left: 45px;
  margin-right: 45px;
  text-align: center;
  font-size: 10px;
}

.input-size {
  height: 20px;
  padding-left: 10px;
}

.button-check {
  cursor: pointer;
}

.text-box-input {
  display: flex;
}


.commit-placement {
  display: flex;
  justify-content: center;
}