* {
  font-family: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

.sheet-container {
  background-image: url("../images/Sheet-box.png");
  background-size: cover;
  width: 1020px;
  min-height: 550px;
}

.text-position {
  padding-top: 75px;
  margin-right: 60px;
  margin-left: 60px;
  font-size: 20px;
  line-height: 1.5;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
}

.button {
  border-radius: 5px;
  padding: 25px 10px;
  border: 2px solid black;
  background-color: #EEB07A;
  cursor: pointer;
  width: 400px;
  position: relative;
  left: 5%;
}

.button:hover {
  border: 2px solid black;
  background-color: #CE8750;
}
