* {
  font-family: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--main-white);
  background-color: lightgray;
}

.challenge-box {
  background-image: url("../images/CH-board-box.png");
  background-size: cover;
  margin: auto;
  max-width: 1020px;
  min-height: 460px;
  margin-top: 75px;
}

.input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: auto;
  gap: 25px;
  place-items: center;
  padding-top: 190px;
}
.button-check {
  cursor: pointer;
}

.text-check {
  width: 170px;
  height: 20px;
  font-size: 16px;
  text-align: center;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: auto;
  gap: 25px;
  place-items: center;
  padding-top: 10px ;
}

.commit-button {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
  padding-top: 40px;
}

.win-placement {
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
  margin-top: -10px;
}

